@charset "utf-8";
/* CSS Document */

nav {
	border: 1px solid fuchsia;}
#logo {float:left}
#horizontal {
	padding-left:100px;
	display:block;}
#vertical {
	float:left;
	padding:0px 30px 130px 30px;}
	
			
