@charset "utf-8";
/* CSS Document */


/*div{ float:left; margin:10px; height:500px; width:500px; border: 5px solid black; text-align:center}*/

.wrapper { background-color: lime; height:700px; width:700px; border-top-left-radius:50px; border-bottom-right-radius:50px; border: 5px solid black; text-align:center}
.inner{ z-index:999; margin:200px; background:url(boxster.png); height:100px; width:100px; padding:1em; position:absolute }
.left{ background-color:yellow; float:left; height:400px; width:400px; border-radius:200px }






